.deps
.libs
*~
*.o
Makefile
Makefile.msc
aclocal.m4
*.lo
*.la
config.log
config.h
gridftp_version.c
config.status
autom4te.cache/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*.so
