.deps
.libs
*~
*.o
Makefile
Makefile.msc
aclocal.m4
*.lo
*.la
config.log
config.status
autom4te.cache/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*.so
#These are generated via cmake using the *.in variants
gridftp_lfs_version.c
